.feautured-scenarios {
  margin-bottom: 31px;
  &__title {
    .font(18px; 21px);
    margin: 0 0 20px;
    padding: 0;
  }
  @media @tablet_width {
    &__title {
      .font(18px; 21px;);
    }
  }
}
