.next-scenarios-slider {
  position: relative;
  height: 136px;
  overflow: hidden;
  &--height {
    height: 116px;
  }
  &__items {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    position: absolute;
    overflow: auto;
    display: flex;
    top: 16px;
  }
  &__item {
    flex-shrink: 0;
    width: 200px;
    height: 120px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 15px 15px 9px;
    margin-right: 20px;
    border-radius: 17px;
    cursor: pointer;
    top: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__title {
    .font();
    margin: auto 0 3px;
  }
  &__description {
    margin: 0 0 5px;
    padding: 0;
    .font(12px; 14px; normal; #858585);
  }
  &__item--color {
    background-color: #F7F7F7;
  }
  &__item--size {
    margin-right: 15px;
    height: 100px;
  }
  &__icon {
    fill: #fff;
  }
  &__icon--color {
    fill: #F7F7F7;
  }
  & > input {
    display: none;
  }
  .cam,
  .kitchen,
  .hall,
  .bulb {
    display: none;
  }
  #kitchen_devices:checked ~ &__items .kitchen {
    display: block;
  }
  #cam_devices:checked ~ &__items .cam {
    display: block;
  }
  #hall_devices:checked ~ &__items .hall {
    display: block;
  }
  #bulb_devices:checked ~ &__items .bulb {
    display: block;
  }
}
