.thermostat {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__scale {
    animation-fill-mode: forwards;
    transform: rotate(60deg);
  }
  &__scale-blank {
    fill: none;
    stroke: #333333;
  }
  &__scale-fill {
    fill: none;
    stroke: #F5A623;
    z-index: 10;
  }
  &__value {
    position: absolute;
    .font(66px; 76px);
    font-size: 66px;
    padding-left: 40px;
  }
  &__value::before {
    content: '+';
    display: block;
    position: absolute;
    left: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 173px;
    height: 173px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0;
  }
  &__scale-wrapper {
    cursor: pointer;
    z-index: 150;
  }
  &__pointer {
    width: 2px;
    height: 176px;
    background-color: transparent;
    position: absolute;
    transform: rotate(212deg);
  }
  &__pointer::after {
    content: '';
    display: block;
    border: 6px solid transparent;
    border-top: 6px solid #000;
    transform-origin: center top;
    transform: rotate(180deg) translate(5px, -7px) translateZ(0);
  }
}
